<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', { title }) %>
    <link rel="stylesheet" href="/css/blogDetail.css">
</head>

<body>
    <%- include('../partials/header.ejs')%>

    <main>
        <div class="details content">
            <h1><%= blog.title %>
            <a href="/blogs/edit/<%= blog.id %>" class="edit-btn">Edit</a></h1>
            <div class="blog-detail">
                <p>
                    <%= blog.description %>
                </p>
            </div>
            <div class="blog-more-details">
                <div class="text-capitalize">
                    Status : <%= blog.status %>
                </div>
                <div>
                    <p>Created At: <%= moment(blog.createdAt).format('MMM DD, YYYY')%></p>
                    <p>Update At: <%= moment(blog.updatedAt).format('MMM DD, YYYY')%></p>
                </div>
            </div>
            <div class="blog-author">
                <p><a href="#">- Author</a> </p>
            </div>
            <div class="blog-action">
                <form action="/blogs/<%= blog.id %>" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn-secondary">Delete</button>
                </form>
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs')%>

</body>
</html>